:root {
   --primary: #e99401;
   --black: #262626;
   --white: #FFF;
   --fuente-principal: 'Poppins', sans-serif;
 }
 html {
   font-size: 62.5%;
   box-sizing: border-box;
 }
 
 *, *:before, *:after {
   box-sizing: inherit;
 }

 body {
   font-size: 2rem;
   font-family: var(--fuente-principal);
   line-height: 1.5;
 }
 img {
   width: 100%;
   object-fit: cover;
   display: inline-block;
 }
 h1,h2,h3,p,a,li,ul,figure{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
 }
 [class*="container"], main {
   width: min(90%, 120rem);
   margin: 0 auto;
 }
 [class*="heading"] {
   font-size: 4rem;
   text-align: center;
   font-weight: 900;
   color: var(--primary);
   margin: 5rem 0;
 }
 .header{
   background:linear-gradient(to right, rgb(0 0 0/.80),rgb(0 0 0/.80)), url(/img/header.jpg);
   background-position: center;
   background-size: cover;
   padding:2rem 0 5rem 0;
 }
 .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .navbar__logo{
   width:20rem;
 }
 .navbar__ul{
   position: fixed;
   top: 0;
   right: 0;
   height:100%;
   width:50%;
   display: flex;
   flex-direction: column;
   gap:2rem;
   align-items: center;
   transform: translateX(100rem);
   background:var(--black);
   padding:5rem 0;
   transition: transform .3s;
 }
 .navbar__li a{
   color:var(--primary);
   font-weight: bold;
 }
 .toggle-Open, .toggle-Close{
   font-size:4rem;
   cursor: pointer;
   color:var(--white);
 }
 .active{
   transform: translateX(0);
 }
 @media(min-width:768px){
   .navbar__ul{
      flex-direction: row;
      transform: translateX(0);
      position: unset;
      background: unset;
      width:unset;
      height: unset;
   }
   .toggle-Open, .toggle-Close{
      display: none;
    }
 }