.url__guitarra{
   display: grid;
   place-items:center;
   margin:5rem auto;
   max-width:90rem;
}
.url__figure{
   width:20rem;
}
.guitarra__grid{
   display: grid;
   gap:4rem;
   margin:5rem 0;
}
.item__guitarra{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:2rem;
   border-radius:.5rem;
   box-shadow:0px 0px 12px 1px rgba(128, 128, 128, 0.4);
}
.item__figure{
   width:10rem;
}
.item__guitarra .paragraph{
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp:3;
   overflow: hidden;
   margin: 1rem 0;
}
.detalle{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1rem;
   width:100%;
   margin-top:2rem;
}
.price{
   color:var(--primary);
   font-size:5rem;
   font-weight: bold;
}
.enlace{
   display:block;
   width:50%;
   text-align: center;
   background:var(--black);
   padding:1rem 2rem;
   color: white;
   border-radius:.2rem;
   position: relative;
}
.cantidad{
   width:100%;
   margin:1rem 0 2rem 0;
   text-align: center;
   cursor: pointer;
   padding:1rem 0;
}
.shop{
   display: block;
   background:var(--black);
   color:var(--white);
   padding:1.5rem 3rem;
   border-radius:.2rem;
   border: none;
   width:100%;
   text-align: center;
   cursor: pointer;
   position: relative;
}
.enlace::after, .shop::after{
   content: '';
   position: absolute;
   width:100%;
   height:100%;
   top: 0;
   left: 0;
   clip-path: circle(0.5% at 0 0);
   transition: clip-path .4s;
}
.enlace:hover::after, .shop:hover::after{
   clip-path: circle(140.9% at 0 0);
   background:white;
   opacity:.3;
}
@media(min-width:768px){
   .guitarra__grid{
      grid-template-columns:repeat(2,1fr);
   }
   .price{
      font-size:4rem;
   }
   .url__guitarra{
      grid-template-columns:repeat(2,1fr);
   }
   .shop{
      width: auto;
   }
}
@media(min-width:968px){
   .guitarra__grid{
      grid-template-columns:repeat(3,1fr);
   }
   .price{
      font-size:4rem;
   }
}